/* Author: Daehyeon Kim */
/* Purpose: This stylesheet applies layout and design rules for DEHA GAMES project */

/*------All pages------*/
html{
  font-size: 16px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
/* body */
body {
    /*fluid layout*/
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    /*font*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 1.5;
    color: #3b2a00;

    /*background*/
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    padding: 1rem 0;
    
}
/* header */
header {
    background-color: rgb(51, 51, 51, 0.5);
    color: black;
    font-family: 'Courier New', Courier, monospace; 
    padding: 1rem 0;
    text-align: center;
    border-left: 0.3em solid #F3B746;/*our logo color*/
    border-top: 0.2em solid #F3B746;
    border-bottom: none;
    border-right: none;
    border-radius: 0.5em;
  }
  
  header img {
    height: 70px;
    width: auto;
    vertical-align: middle;
    border-radius: 25px;
  }
  
  header h1 {
    display: inline-block;
    font-size: 2.5rem;
    margin-left: 1rem;
    vertical-align: middle;
    color: #F3B746; 
    -webkit-text-stroke: 2px black; /*text outline*/
    font-weight: bold;
  }
  
  /*menu */
  header nav ul {
    list-style-type: none;
    margin: 0.5rem 0 0 0;
    display: flex;
    justify-content: center;
    gap: 1rem ;
    flex-wrap: wrap;
  }
  nav li  {
    display: inline-block;
    background-color: #F3B746;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 14px;
    border: 2px solid #8a6d1f;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,1);
    transition: all 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
  }
  nav li  a {
    text-decoration: none;
    color: black; 
    font-size: 1rem;
  }
  nav li:hover {
    background-color: #F3B746; 
    transform: scale(1.05);
    box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
  }
  nav li:hover a {
    color: hwb(155 7% 51%);
  }
/*main*/
main{
  width: 100%;
  max-width: 1200px;
    margin: 10px auto;
    background-color: rgba(199, 155, 85, 0.9);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: Black;  
    padding: 3rem; 
    border-top-right-radius: 9em;
    border-bottom-left-radius: 9em;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
/*footer*/
footer {
    background-color: rgb(51, 51, 51, 0.7);
    color: #F3B746;   
    width: 100%;
    text-align: center;
    font-size: small;
    padding: 1rem 0;
    border: 0.3em solid #F3B746;
    border-bottom: 0.2em solid #F3B746;
    border-top: none;
    border-left: none;
    border-radius: 0.5em;
  }
  
  footer a {
    text-decoration: none;
    color: lightblue;
    margin: 0 10px;
  }
  footer a:hover {
    text-decoration: underline;
    color: white;
  }
  
/*---------------------index.html & faq.html---------------------*/
#index_article section, #faq_article section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0.5rem auto;
    padding: 2rem;
    border: 1rem double #a37a3f;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}
/* Every page's heading */
#index_article h1, #apply_article h2,#about_article h1,
#jobs_main h1, #jobs_main h2 ,#jobs_main h3,#apply_article h2,
#faq_article h1, #faq_article h3, #about_article section h2
{
    font: bold 1.5em 'Courier New', Courier, monospace;
    text-shadow: 0.3rem 0.3rem 2rem hwb(155 7% 51%);
    -webkit-text-stroke: 1px hwb(49 2% 48%); 
    margin-bottom: 0.5rem;
}
.index_strong{
  background-color: rgb(133, 109, 5, 0.5); ;
  border-radius: 0.5rem;
  font-size: 1.2em;
}
/*-------------------------jobs.html--------------------------*/
#jobs_main
{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

#jobs_main h1
{
  font: bold 1.5rem 'Courier New', Courier, monospace;
  text-align: center;
}
/*article | aside*/
.article_aside
{
  display: flex;
  gap: 1rem;
}
@media (max-width: 750px) {
  .article_aside {
    flex-direction: column;
  }
}
#jobs_article section, aside
{
  border: 1rem double #a37a3f;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 0.7rem;
  margin: 0.8rem;
}
/*article*/
#jobs_article
{
  width: 75%;
}
/*aside*/
aside
{
  width: 25%;
  float: right;
  display: flex;
  flex-direction: column;
}
.text_box
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 20%;
}
#levelup
{
  width: 100%;
  flex: 80%;
  border-radius: 1rem;
}
aside p
{
  text-align: center;
  font-size: 0.8rem;
}
/*go to view details button*/
.detail_box
{
  text-decoration: none;
  display: inline-block;
  background-color: #F3B746;
  color: black;
  font-weight: bold;
  padding: 8px 14px;
  border: 2px solid #8a6d1f;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  margin-top: 10px;
}
.detail_box:hover {
  background-color: #dca31d;
  color:hwb(155 7% 51%);
  transform: scale(1.05);
  box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
  cursor: pointer;
}
#jobs_main h1::before, #jobs_main h1::after,
.job_details_main h2::before, .job_details_main h2::after,
#apply_article h2::before, #apply_article h2::after,
#index_article h1::before, #index_article h1::after,
#about_article h1::before, #about_article h1::after,
#faq_article h1::before, #faq_article h1::after {
  content: "⚔️";
}
.detail_box::before {
  content: "📜";
}
/*-------------------------Full job details-------------------------*/
/*applied for all job details pages*/
.job_details_main {
  display: flex;
  justify-content: center;
  background: none;
}
/*in the backgroud image*/
.job_details_main section {
  background-image: url('images/mainbackground.jpg'); 
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  width: 100%;
  max-width: 1000px;
  padding: 2rem 3rem;
  color: #2f1d00;
}


.job_details_main h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #3b2205;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
}
.job_details{
  border: 2px double #a37a3f; 
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
}

.job_details p {
  margin-bottom: 0.5rem;
  color: #3b2a00;
  font-weight: bold;
}

.job_details_main h3 {
  font-size: 1.5rem;
  color: #3b2205;
  margin-top: 2rem;
  border-bottom: 2px solid #a37a3f;
  padding-bottom: 4px;
}


.job_details_main ul, #job_details_main ol {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.job_details_main li {
  margin-bottom: 0.5rem;
}


/*---------------apply.html------------------*/

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
  width: 100%;
  max-width: 1000px;
  margin: 1rem auto;
  padding : 1rem;
  border:#8a6d1f double 0.5rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 3);
  background-image: url('images/mainbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#apply_article h1,
#apply_article h2,
#apply_article h3
,#apply_article p {
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #d4af37;
}


label {
  padding: 0 0.5rem;
  margin: 0.5rem 0 0.5rem;
  font-weight: bold;
}


input,
select,
textarea {
  padding: 0.5rem;
  margin: 0 0.5rem;
  background-color: rgb(138, 109, 31, 0.2);
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  border-radius: 0.5rem;
  border: 2px solid black;
  cursor: pointer;
}


fieldset {
  border: 4px dotted #8a6d1f;
  padding: 1rem;
}
fieldset input{
  margin-right: 0.5rem;
  cursor: pointer;
}
legend {
  padding: 0 0.5rem;
}

textarea::placeholder {
  color: black;
  opacity: 1;
}

/*-------------------about.html-------------------------*/
#about_article {
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1rem double #a37a3f;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  line-height: 1.7;
}
#about_article section{
  border: 1rem double #a37a3f;
  margin: 1rem 0;
  padding: 1rem 2rem;
}

/* group information */
#group_info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}
#team_members {
  padding-left: 3rem;
  border-left: 2px solid #a37a3f;
}
/*memeber contribution, group interests, extra members information*/
.Other_info{
  width: 70%;
}
/* group photo */
#group_photo {
  float: right; 
  max-width: 450px;
  margin: 0 1rem;
  text-align: center; 
  width: 28%;
  position: sticky;/* sticky position to keep it in view while scrolling */
  top: 100px;      
}


figure img {
  border: 3px solid #a37a3f; 
  border-radius: 5px;
  text-align: center; 
  max-width: 100%;
}
/* member contribution */
dt ,#group_photo figcaption, #group_info strong {
  padding: 0 0.5rem;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0,0,0,1);
}
/*group interests*/
.interests-table{
  margin: 0 auto; 
  text-align: center;
  width: 100%;
}
.interests-table th {
  font-weight: bold;
  background-color: #cc922580;
}
.interests-table tr{
  background-color: #f3b74680;
}
.interests-table td {
  padding: 8px;
  font-size: small;
  transition: all 0.3s ease;
}
.interests-table td:hover {
  background-color: #ffd47f; 
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0,0,0,1);
}
/* Extra members informaition */
.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem; 
  padding: 1rem;
}

.member-card {
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  font-size: 0.8rem;
}

.member-card:hover {
  transform: scale(1.03);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.member-card img {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.member-card h3 {
  font-size: 1rem;text-align: center;
  color: #5b3900;
  background-color: hsla(39, 88%, 61%, 0.3);
}
.member-card p strong{
  color: #5b3900;
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.2rem hwb(155 7% 51%);
}

/*-------------------form message in signup_manager.php-------------------------*/
.form-message {
    font-size: 1.2rem;
}
.form-message a{
  text-decoration: none;
  display: inline-block;
  background-color: #F3B746;
  color: black;
  font-weight: bold;
  padding: 8px 14px;
  border: 2px solid #8a6d1f;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  margin-top: 10px;
}


.form-message a:hover {
  background-color: #dca31d;
  color:hwb(155 7% 51%);
  transform: scale(1.05);
  box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
  cursor: pointer;
}

